@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
	line-height: 1;
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background-color: #ffff87;
}

article {
	padding: .5em;
	color: #fff;
	background-color: #111;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1em;
}

.countdown {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 1em;
	padding: .5em;
}

.countdown-item {
	display: flex;
	flex-flow: column nowrap;
	font-size: 4em;
	text-align: center;
}

.countdown-smallprint {
	font-size: .25em;
}