@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--black: #050704;
	--yellow: #fffe88;
	--white: #fff;
	--purple: #bb00b5;
}

* {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
	font-size: inherit;
	line-height: 1;
	padding: 0;
	margin: 0;
}

html, body, main {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
	font-size: 1rem;
	background-color: var(--yellow);
	background-image: url(./logo.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center -5vh;
}

main {
	overflow: auto;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 2.62rem;
}

article {
	text-align: center;
}

article h3 {
	display: inline-block;
}

.gp {
	display: grid;
	height: 100%;
	align-items: center;
	grid-template-rows: repeat(3, auto);
}

.sessions {
	display: flex;
	flex-flow: column nowrap;
	gap: 1em;
	font-size: 1em;
}

.race {
	font-size: 1.62em;
}

.timer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: .125rem;
	font-size: 1.62em;
}

.timer-item {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
}

.timer-smallprint {
	font-size: .375em;
}