@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--black: #050704;
	--yellow: #fffe88;
	--white: #fff;
	--purple: #bb00b5;
}

* {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
	font-size: inherit;
	line-height: 1;
	padding: 0;
	margin: 0;
}

html, body, main {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
	font-size: 1.25rem;
	background-color: var(--yellow);
	background-image: url(./logo.svg);
	background-position: center 0;
	background-size: 62vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	overflow: auto;
}

section {
	display: grid;
	height: 100%;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 4.5rem;
}

header {
	padding: 2rem;
}

article {
	text-align: center;
}

article h3 {
	display: inline-block;
}

.gp {
	display: grid;
	width: 100%;
	height: 100%;
	place-items: center;
	align-items: center;
	grid-template-rows: auto auto;
}

.sessions {
	display: flex;
	place-self: center;
	align-self: center;
	flex-flow: column nowrap;
	gap: .5em;
}

.session {
	position: relative;
	padding: .5em;
	font-size: 1.125rem;
}

.session:last-child {
	font-size: 1.5rem;
}

.session::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: .825em;
	z-index: -1;
	height: 3px;

	background: linear-gradient(90deg, #bb00b5 0%, #bb00b500 40%, #bb00b500 60%, #bb00b5 100%);
}

.timer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: .125em;
	padding: .125em;
	font-size: 2.75em;
}

.timer-item {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
}

.timer-smallprint {
	font-size: .25em;
}